#!/bin/bash
[ -f .env ] && source .env

export BUCKET="asf-core-data"
export METAFLOW_PROFILE=ds-cookiecutter

# Automatically activate conda environment (if exists)
if [ -f .cookiecutter/state/conda-create ];
then
    # shellcheck disable=SC1091
    [ -n "$CONDA_EXE" ] \
    && . "$(dirname "$(dirname "$CONDA_EXE")")/etc/profile.d/conda.sh" \
    && conda activate "asf_core_data" > /dev/null 2>&1  \
    || echo "WARNING: asf_core_data environment could not be automatically activated.";
fi
